@layer utilities {
  .animation-default {
    @apply duration-default ease-default;
  }
}

@keyframes element-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
